@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --background: #E0E1DD;
    --text: #202124;
    --primary: #C8B6FF;
}

html{
    background-color: var(--background);
    font-family: 'JetBrains Mono', monospace;
    margin-top: clamp(3em, 10vw, 6em);
    margin-left: clamp(0.5em, 0.5vw, 1em);
    margin-right: 1em;
    margin-bottom: 0.5em;
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1vw;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(8px, 1vw, 10px);
    z-index: 100;

    /* From https://css.glass */
    background: rgba(224, 225, 221, 0.45);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(224, 225, 221, 0.3);
}

.navbar-left{
    display: flex;
    padding-left: 1em;
    gap: 1em;
    align-items: center;
}

.navbar-right{
    display: flex;
    gap: 1em;
    align-items: center;
}

.container{
    height: 100vh;
    width: 100%;
}

.home{
    height: 100vh;
    margin: 0.25em;
    padding: 0.5em;
    display: flex;
    text-align: end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25em;
}

.title{
    text-size-adjust: auto;
    font-size: clamp(27pt, 9vw, 60pt);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home-description{
    text-size-adjust: auto;
    font-size: clamp(9pt, 2vw, 16pt);
    margin: 0;
    padding: 0;
}

.portfolio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: grid;
    gap: 1em;
}

@media (max-width: 600px){
    .projects{
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 601px){
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .project-block{
        width: clamp(225px, 12vw, 500px);
        height: clamp(150px, 10vw, 500px);
    }
}

@media (min-width: 501px){
    .project-block{
        width: clamp(300px, 10vw, 400px);
        height: clamp(175px, 7vw, 300px);
    }
}

.project-block{
    border: var(--text) 0.2em solid;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-block-title{
    font-size: clamp(10pt, 5vw, 20pt);
    font-weight: 600;
    text-align: center;
}

.project-block-description{
    font-size: clamp(8pt, 2.5vw, 11pt);
}

@media (max-width: 600px){
    .contact-modal{
        width: clamp(20em, 20vw, 30em);
        height: clamp(20em, fit-content, 30em);
    }
}

@media (min-width: 601px){
    .contact-modal{
        width: clamp(25em, 20vw, 30em);
        height: clamp(20em, fit-content, 30em);
    }
}

.contact-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border: var(--text) 2px solid;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-header{
    background-color: var(--primary); 
    padding: 0.25em;
    font-size: clamp(20pt, 5vw, 30pt);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.contact-body{
    padding: 0.4em;
    font-size: clamp(8pt, 3.5vw, 10pt);
}

.contact-links{
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.contact-email{
    border: var(--text) 2px solid;
    padding: 0.5em;
    border-radius: 1em;
    font-size: clamp(8pt, 3.5vw, 10pt);
}

/* Links */
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
    padding-top: 1em;
}

.links-button{
    background-color: transparent;
    border: none;
    font-size: clamp(10pt, 1.5vw, 16pt);
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    padding: 0.25em 0.5em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.25em;
    color: var(--text);
    text-decoration: none;
    animation: shrink 0.2s forwards;
}

.links-button img,
.links-button svg,
.links-button .icon {
    width: clamp(30px, 5vw, 60px);
    height: auto;
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
}

.links-dark{
    background-color: var(--text);
    color: var(--background);
    padding-left: 2em;
    padding-right: 2em;
}

.links-light{
    border: var(--text) 0.125em solid;
}

.links-button:hover{
    animation: grow 0.2s forwards;
}


/* Animation: */
@keyframes grow{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

@keyframes shrink{
    from {transform: scale(1.05);}
    to {transform: scale(1);}
}